/*extra small*/

@media only screen and (max-width: 600px) {}


/*small================================================================================================================*/

@media only screen and (min-width: 600px) and (max-width:767px) {}


/*medium*/

@media only screen and (min-width: 768px) and (max-width:991px) {}


/*large=============================================================================================================*/

@media only screen and (min-width: 992px) and (max-width:1199px) {}


/*extra large======================================================================================================*/

@media only screen and (min-width: 1200px) {
    .timeLineMainConntainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .timeLineWorksAnalyserContainer {
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
    }
    .timeLineWorksAnalyser {
        width: 100%;
        height: 400px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .timeLineWorkAnalyserBars {
        flex-grow: 1;
        height: 100%;
        margin: 2px;
        background: #ddd;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .analiserInGui {
        width: 100%;
        margin: 1px;
    }
    .gui1 {
        background: rgb(228, 171, 47);
        height: 100px;
    }
    .gui2 {
        background: rgb(44, 185, 51);
        height: 350px;
    }
    .gui3 {
        background: rgb(191, 221, 57);
        height: 200px;
    }
    .gui4 {
        background: rgb(230, 117, 65);
        height: 50px;
    }
    .gui5 {
        background: rgb(164, 226, 63);
        height: 250px;
    }
    .timeLineWorksAnalyserDays {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .timeLineDays {
        flex-grow: 1;
        text-align: center;
        line-height: 50px;
    }
}