@font-face {
    src: url(../fonts/MAIAN.TTF);
    font-family: 'maian';
}


/*extra small*/

@media only screen and (max-width: 600px) {}


/*small================================================================================================================*/

@media only screen and (min-width: 600px) and (max-width:767px) {}


/*medium*/

@media only screen and (min-width: 768px) and (max-width:991px) {}


/*large=============================================================================================================*/

@media only screen and (min-width: 992px) and (max-width:1199px) {}


/*extra large======================================================================================================*/

@media only screen and (min-width: 1200px) {
    .communityMainContainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .questionFeedContainer {
        flex-grow: 1;
        max-width: 800px;
        height: 1000px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .communitySideContainer {
        width: 350px;
        background: #fff;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    /*post uploader*/
    .postUploader {
        width: 100%;
        height: auto;
        background: #fff;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    /*header of postuploader*/
    .postUPloaderPpContainer {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-top: 10px;
    }
    .uploaderPp {
        width: 55px;
        height: 55px;
        margin: 0 20px;
        border-radius: 50%;
        background: #ddd;
    }
    .uploaderPp img {
        width: 55px;
        height: 55px;
    }
    .uploaderName {
        font-size: 20px;
        color: #333;
    }
    .theSpaceBetweenNameNcancel {
        flex-grow: 1;
    }
    .cancelPostUpload {
        width: 25px;
        height: 25px;
        margin-right: 20px;
        opacity: 0.5;
    }
    .cancelPostUpload:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    .cancelPostUpload img {
        width: 25px;
        height: 25px;
    }
    /*upload box open btns*/
    .postUploaderInputContainer {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: flex;
    }
    .uploaderTextbox {
        border: none;
        outline: none;
        flex-grow: 1;
        height: 50px;
        font-size: 17px;
        font-family: "maian";
        color: #333;
    }
    .uploaderControls {
        width: 200px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .uploaderControls img {
        height: 40px;
        width: 40px;
        margin: 5px;
        opacity: 0.5;
    }
    /*post uploader container*/
    .realuploaderContainer {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        overflow-y: scroll;
    }
    .realuploaderbox {
        width: 500px;
        height: auto;
        background: white;
        position: absolute;
        top: 120px;
    }
    .postUploaderTextbox {
        border: none;
        outline: none;
        width: 100%;
        padding: 20px;
        min-height: 200px;
        overflow: auto;
        box-sizing: border-box;
        word-wrap: break-word;
    }
    .postUploaderControls {
        width: 100%;
        height: 55px;
        background: #ccc;
        display: flex;
        justify-content: space-between;
    }
    .postUploaderControls img {
        width: 35px;
        height: 35px;
        margin: 10px 20px;
        opacity: 0.5;
    }
    .postUploaderControls img:hover {
        cursor: pointer;
    }
    .uploadPostBtn {
        width: 80px;
        height: 32px;
        background: #3ac485;
        text-align: center;
        line-height: 32px;
        font-size: 16px;
        color: #fff;
        margin: 11.5px 20px;
    }
    .uploadPostBtn:hover {
        cursor: pointer;
    }
    .fileselectorForPostUpload {
        display: none;
    }
    .postUploadImagePreview {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .postUploadImagePreview img {
        height: 80px;
        margin: 10px;
    }
    .questionsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    /* this post */
    .thisPost {
        background: white;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
    }
    .postHeader {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
    }
    .postProfilePicture {
        width: 50px;
        height: 50px;
        margin: 15px;
        border-radius: 50%;
    }
    .postProfilePicture img {
        width: 50px;
        height: 50px;
    }
    .postData {
        flex-grow: 1;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .postUserName {
        font-size: 20px;
    }
    .postTime {
        font-size: 13px;
        color: #777;
    }
    .postSetting {
        width: 30px;
        height: 30px;
        margin: 25px;
        background: #333;
        text-align: center;
        line-height: 30px;
        color: white;
        border-radius: 50%;
    }
    .postSetting:hover {
        cursor: pointer
    }
    .postText {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        text-align: justify;
    }
    .postText span {
        color: #777;
        font-style: italic;
    }
    .postText span:hover {
        color: #555;
        cursor: pointer;
    }
    .postImage {
        width: 100%;
        max-height: 500px;
    }
    .postImage img {
        width: 100%;
    }
    .postControl {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
    }
    .postLike,
    .postComment {
        width: 50%;
        text-align: center;
        line-height: 40px;
    }
    .postLike:hover,
    .postComment:hover {
        cursor: pointer;
        background: #ddd;
    }
    /*============================================= side bar================================== */
    .communitySearch {
        width: 100%;
        height: 70px;
        background: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .communitySearchInput {
        width: 270px;
        height: 50px;
        border: none;
        border-bottom: solid 2px #666;
        box-sizing: border-box;
        outline: none;
        padding: 0 10px;
        font-size: 17px;
        color: #333;
    }
    .communitySearchBtn {
        width: 35px;
        height: 35px;
        margin: 0 10px;
    }
    .communitySearchBtn img {
        width: 100%;
        height: 100%;
    }
}