/*extra small*/

@media only screen and (max-width: 600px) {}


/*small================================================================================================================*/

@media only screen and (min-width: 600px) and (max-width:767px) {}


/*medium*/

@media only screen and (min-width: 768px) and (max-width:991px) {}


/*large=============================================================================================================*/

@media only screen and (min-width: 992px) and (max-width:1199px) {}


/*extra large======================================================================================================*/

@media only screen and (min-width: 1200px) {
    .profileMainContainer {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2000;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        padding: 50px 0;
        box-sizing: border-box;
        /* overflow-y: scroll; */
    }
    .profileContainer {
        width: 300px;
        height: 500px;
        background: #fff;
        position: absolute;
        right: 70px;
    }
}