@font-face {
    src: url(../fonts/JOKERMAN.TTF);
    font-family: 'jokerman';
}

@font-face {
    src: url(../fonts/MAIAN.TTF);
    font-family: 'maian';
}

@font-face {
    src: url(../fonts/BAUHS93.TTF);
    font-family: 'bauhs93';
}

body {
    padding: 0;
    margin: 0;
}

.welcome_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome_main_container {
    width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plegma_logo {
    width: 100px;
}

.utime_name_text {
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-family: 'bauhs93';
    margin: 10px 0;
}

.sign_up_form_one {
    display: flex;
    flex-direction: column;
}

.sign_up_email {
    width: 230px;
    height: 40px;
    border: none;
    outline: none;
    background: #ddd;
    padding: 0 10px;
    font-size: 15px;
    font-family: 'maian';
    border: solid 1px rgba(0, 0, 0, 0);
}

.sign_up_first_name,
.sign_up_last_name {
    width: 97.5px;
    height: 40px;
    border: none;
    outline: none;
    background: #ddd;
    padding: 0 10px;
    font-size: 15px;
    font-family: 'maian';
    border: solid 1px rgba(0, 0, 0, 0);
}

.text_box_error {
    border: solid 1px red;
}

.text_box_is_ok {
    border: solid 1px #34b47b;
}

.name_inputs {
    width: 250px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    justify-content: space-between;
}

.name_inputs_error::after {
    content: '!';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(221, 50, 50);
    text-align: center;
    line-height: 25px;
    color: white;
    position: absolute;
    margin: 7.5px -35px;
}

.signup_first_next {
    width: 250px;
    height: 40px;
    background: #3ac485;
    color: white;
    text-align: center;
    line-height: 40px;
    font-family: 'maian';
    margin: 20px 0;
}

.signup_first_next:hover {
    background: #34b47b;
    cursor: pointer;
}

.use_phone {
    text-decoration: none;
    color: #444;
    font-size: 15px;
    font-family: 'maian';
    margin: 5px 0;
}

.copy_right_bar {
    width: 100vw;
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-family: 'maian';
    color: #666;
}