/*extra small*/

.today {
    background: #57d1b3;
}

@media only screen and (max-width: 600px) {}


/*small================================================================================================================*/

@media only screen and (min-width: 600px) and (max-width:767px) {}


/*medium*/

@media only screen and (min-width: 768px) and (max-width:991px) {}


/*large=============================================================================================================*/

@media only screen and (min-width: 992px) and (max-width:1199px) {}


/*extra large======================================================================================================*/

@media only screen and (min-width: 1200px) {
    .timeTable_main_container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .timetable_calander_container {
        width: 50%;
        height: 100%;
        background: white;
    }
    .calendar_header {
        width: 100%;
        height: 70px;
        background: #aaa;
        display: flex;
        flex-direction: row;
    }
    .timeTableBody {
        width: 100%;
        height: 500px;
    }
    .timeTableBody td:hover {
        cursor: pointer;
    }
    .timetable_plans_conntainer {
        width: 50%;
        height: 100%;
    }
}